*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Practica10/nbproject/private/
/Practica10/build/
/sm.esc.imagen/nbproject/private/
/sm.esc.library/nbproject/private/
/sm.esc.imagen/build/
/sm.esc.library/build/
/player/nbproject/private/
/Practica10/dist/
/sm.esc.library/dist/
/Practica11/nbproject/private/
/Practica11/build/
/Practica11/dist/
/Practica12/nbproject/private/
/Practica12/build/
/Practica12/dist/
/Practica13/nbproject/private/
/Practica13/build/
/Practica13/dist/
/Practica_Final/nbproject/private/
/Practica_Final/build/
/Practica_Final/dist/